* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: quiz;
    font-weight: 100;
}

@font-face {
    font-family: quiz;
    src: url(fonts/Cat-Boys.ttf);
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    height: 100vh;
    background-color: #ffffff;
}

.image-wrapper img, .question-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    text-align: center;
}

.question-wrapper {
    border: 1.5px groove #96be25;
    border-radius: 7px;
    box-shadow: 0 0 5px #96be25 inset;
}
/* 
.answers-wrapper{
} */

form {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.answer1-wrapper,.answer2-wrapper,.answer4-wrapper, .answer3-wrapper {
    width: 40%;
    height: 70px;
    margin: 20px 15px 0 15px;
    border: 1.5px groove #d8dbd0;
    border-radius: 7px;
    box-shadow: 0 0 5px #d8dbd0 inset;
    display: flex;
    align-items: center;
}

label div {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: #afd447;
    justify-content: center;    
    align-items: center;
    margin-left: 15px;
    border-radius: 5px;
}

.count-wrapper {
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.next-question {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: end;
}

.total-count{
    margin-bottom: 35px;
}

.next-question button{
    height: 25%;
    width: 150px;
    border: none;
    background-image: linear-gradient(to right, #d2ee83, #cff174, #cbf564, #c8f852, #c3fb3c, #bff933, #bcf727, #b8f519, #b5ed23, #b2e52a, #afde30, #acd635);
}

.hidden-div {
    width: 25%;
    height: 100%;
}